body::-webkit-scrollbar {
  width: 9px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #DBDBDB;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #816AFE;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

